

{% block content %}

       <h4>Write a new comment</h4>
       {{ form_start(form) }}
       {{ form_widget(form) }}
       <button class="btn">{{ button_label|default('Save') }}</button>
       {{ form_end(form) }}


{% endblock %}
