{% extends "base.html.twig" %}


{% block title %}{{ parent() }}Add an article{% endblock %}

{% block content %}
                <h4>Ajout d'un article</h4>
        {% include "homepage/article_form.html.twig" %}
{% endblock %}