{% extends "base.html.twig" %}

{% block title %}Modifier{% endblock %}

{% block content %}

                <h4>Modify article {{ article.title }}</h4>

         {% include "homepage/article_form.html.twig" %}

{% endblock %}