<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Skymetal{% endblock %}</title>
    <meta charset="utf-8">

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}">
    {% endblock %}
</head>
<body>
<nav>
                <a href="#" class="brand-logo">Skymetal</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
            </ul>

</nav>

{% block content %}

{% endblock %}


</body>
</html>
